.c-labeled-elem {
    display: flex;
    justify-content: left;
}

.c-labeled-elem__label-div {
    white-space: nowrap;
    text-wrap: none;

    font-weight: 600;

    margin-right: 5px;

    align-self: flex-start;
}

.c-labeled-elem__label-div[data-font-size="small"] {
    font-size: 0.8em;
}

.c-labeled-elem__label-div[data-font-size="normal"] {
    font-size: 1.0em;
}
