.c-label-data {
    display: flex;
    max-width: 99%;
}

.c-label-data__key {
    white-space: nowrap;
    text-wrap: none;
    font-weight: 800;
    font-size: 0.8em;
    margin-right: 5px;
}

.c-label-data__value {
    font-weight: 400;
    font-size: 0.8em;
}
