.c-labeled-data {
    display: flex;
}

.c-labeled-data__label-div {
    white-space: nowrap;
    text-wrap: none;
    font-weight: 800;
    margin-right: 5px;

    width: fit-content;
}

.c-labeled-data__data-div {
    font-weight: 400;
    width: min(100%, 200px);
    max-width: 200px;
    padding-right: 10px;
}

.c-labeled-data__label-div[data-font-size="small"]{
    font-size: 0.8em;
}

.c-labeled-data__label-div[data-font-size="normal"]{
    font-size: 1.0em;
}

.c-labeled-data__data-div[data-font-size="small"]{
    font-size: 0.8em;
}

.c-labeled-data__data-div[data-font-size="normal"]{
    font-size: 1.0em;
}
