.c-labeled-elem {
    display:grid;
    grid-template-columns: fit-content(100px) 1fr;
    grid-column-gap: 10px;
}

.c-labeled-elem__label-div {
    box-sizing: border-box;
    white-space: nowrap;

    font-weight: 600;
}

.c-labeled-elem__label-div[data-font-size="small"] {
    font-size: 0.8em;
}

.c-labeled-elem__label-div[data-font-size="normal"] {
    font-size: 1.0em;
}
