
.c-title{
    white-space: break-spaces;
    margin: 10px 0px 10px 0px;
}

.c-title[data-font-size="large"] {
    font-weight: 800;
    font-size: var(--font-size-large);
}

.c-title[data-font-size="normal"] {
    font-weight: 800;
    font-size: var(--font-size-normal);
}

