
.c-country-card-detail {

    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(295px, 1fr));
    grid-column-gap: 30px;

    width: 100%;
}

.c-country-card-detail__flag-div {
    width: 100%;
    max-width: 500px;
    max-height: 300px;
}

.c-country-card-detail__data-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.c-country-card-detail__country-name-div {
    width: 100%;
    height: fit-content;
}

.c-country-card-detail__labeled-data-div {
    display: flex;
    flex-wrap: wrap;

    height: fit-content;
}

.c-country-card-detail__labeled-data-div > div {
    width: fit-content;
    padding-bottom: 20px;
}

.c-country-card-detail__labeled-elem-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.c-country-card-detail__labeled-elem-div > *{
    margin: 0px 4px 4px 0px;
}
