
.c-country-card-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: fit-content;

    padding: 30px 0px 0px 0px;
    margin-bottom: 30px;
}

.c-country-card-detail__flag-div {
    width: 100%;
    max-width: 500px;
    max-height: 300px;
    /*aspect-ratio: auto 320 / 160;*/
}

.c-country-card-detail__data-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    width: fit-content;
}

.c-country-card-detail__country-name-div {
    width: 100%;
    height: fit-content;
}

.c-country-card-detail__labeled-data-div {
    display: flex;
    flex-wrap: wrap;

    height: fit-content;
}

.c-country-card-detail__labeled-data-div > div {
    width: fit-content;
    padding-bottom: 20px;
}
