.c-theme-toggle {
    display: flex;
    align-items: center;

    padding-right: 5%;
    height: 100%;

    width: fit-content;

    font-weight: 600;

    cursor: pointer;
}

.c-theme-toggle:before {
    content: "";
    background-repeat: no-repeat;

    width: 16px;
    height: 16px;

    padding-right: 5px;

    cursor: pointer;
}

.c-theme-toggle_light:before {
    background-image: url("../assets/moon-16.png");
 }

.c-theme-toggle_dark:before {
    background-image: url("../assets/brightness-16.png");
    filter: invert(1);
    -webkit-filter: invert(1);
}
