.c-theme-toggle {
    display: flex;
    align-items: center;

    padding-right: 5%;
    height: 100%;

    background-color: white;
    width: fit-content;

    font-weight: 600;
    color: black;

    cursor: pointer;
}

.c-theme-toggle:before {
    content: "";
    background-image: url("../assets/brightness-16.png");
    background-repeat: no-repeat;

    width: 16px;
    height: 16px;

    padding-right: 5px;

    cursor: pointer;
}
