.c-country-card-list {
    display: grid;
    grid-template-rows: 161px minmax(100px, 1fr);

    justify-self: center;

    cursor: pointer;

    border-radius: 5px;
}

.c-country-card-list__data-div{
    display: flex;
    flex-direction: column;

    padding: 10px;

    width: max-content;
    height: max-content;
}

.c-country-card-list__flag-div {
    border-radius: 5px;
    aspect-ratio: auto 219 / 120;
}
