.c-country-card-list {
    display: grid;
    width: 250px;
    max-width: 250px;
    grid-template-rows: 151px minmax(100px, 1fr);

    justify-self: center;

    cursor: pointer;

    border-radius: 5px;
}

.c-country-card-list__data-div{
    display: flex;
    flex-direction: column;

    padding: 10px;

    width: 100%;
    height: max-content;
}

.c-country-card-list__flag-div {
    border-radius: 5px;
}
