@media (min-width: 1440px) {
    .c-country-list-page {
        width: 1440px;
    }
}

@media (max-width: 475px) {
    .c-country-list-page {
        width: 100%;
    }
}

.c-country-list-page {
    display: grid;
    grid-template-rows: var(--header-height) max(calc(100% - var(--header-height)), calc(100vh - var(--header-height)));

    margin: 0 auto;
}
