.c-country-list{
    display:flex;
    flex-direction: column;
    padding: 0px 50px 0% 50px;
}

.c-country-list__controls-div{
    display: flex;
    justify-content: space-between;

    margin: 30px 0px 0px 0px;
}

.c-country-list__list-div {

    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    height: fit-content;

    margin: 30px 0px 0px 0px;
}
